<div class="stringUploadArea">
  <h2>文本输入：</h2>
  <textarea rows="6" nz-input [(ngModel)]="inputValue"></textarea>
  <h2></h2>
  <div>
    <button
      nz-button
      nzType="primary"
      (click)="importByTXT()"
      class="uploadAndAnalysis"
    >
      上传并分析
    </button>
    <button class="clear_button" (click)="clearString()">清空</button>
  </div>
</div>
<div class="fileUploadArea">
  <h2>文件输入：</h2>

    <!-- <button
      nz-button
      nzType="primary"
      (click)="showfile_inputValue()"
      class="uploadAndAnalysis2"
    >
      展示上传文件
    </button> -->
  <nz-upload
    nzType="drag"
    [nzMultiple]="true"
    nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
    (nzChange)="handleChange($event)"
    [nzShowButton]="true"
  >
    <p class="ant-upload-drag-icon">
      <i nz-icon nzType="inbox"></i>
    </p>
    <p class="ant-upload-text">单击或将文件拖到该区域以上传</p>
    <!-- <p class="ant-upload-hint">支持单个或批量上传文件</p> -->
    <p class="ant-upload-hint">请单个上传文件</p>
  </nz-upload>
  <h2></h2>
  <button
      nz-button
      nzType="primary"
      (click)="importByFile()"
      class="uploadAndAnalysis2"
    >
      上传并分析
    </button>
  <div>

    <!-- <button class="clear_button2" (click)="clearFile()">清空</button> -->
  </div>
</div>

<div class="entities_table">
  <app-ner-table
    [entities]="entities$ | async"
    [isLoading]="isLoading$ | async"
  ></app-ner-table>
</div>
