<div class="container">
  <div class="actions-container">
    <button
      mat-stroked-button
      color="primary"
      (click)="refresh()"
    >
      清空输入
    </button>

    <div class="spacer"></div>

    <button
      mat-flat-button
      color="primary"
      (click)="entity_recognition()"
    >
      开始实体识别
    </button>
  </div>


      <mat-form-field class = "tp-full-width">
        <textarea matInput
        placeholder = "输入病例文本："
        cdkTextareaAutosize
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="18"
        (change)="onChange($event)"

        ></textarea>

      </mat-form-field>

      <!-- <textarea matInput #textarea (keyup) = "getValue(textArea.value)" name = "content"></textarea> -->


    <mat-form-field class = "tp-full-width">
      <textarea matInput
      placeholder = "实体识别结果："
      cdkTextareaAutosize
      cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="18"
      ></textarea>
    </mat-form-field>

    <!-- <textarea
      [(ngModel)]="EvaluateInfo.content"
      (ngModelChange)="getValue($event)"
      name = "content"></textarea> -->


    <!-- <input #box
      (keyup.enter)="values=box.value"
      (blur)="values=box.value">
    <p>{{values}}</p> -->




    <!-- <mat-form-field appearance = "fill">
      <textarea matInput placeholder = "Textarea"></textarea>
    </mat-form-field> -->





    <!-- <mat-tab-group>
      <mat-tab label = "A"> Apple </mat-tab>
      <mat-tab label = "B"> Banana </mat-tab>
      <mat-tab label = "C"> Carrot </mat-tab>
    </mat-tab-group> -->

</div>

