.stringUploadArea{
  position: relative;
  // height: 100%;
  width: 40%;
  left: 0%;
  .clear_button {
    position: relative;
    height: 32px;
    width: 60px;
    left: 66%;
  }
}
.fileUploadArea{
  position: relative;
  height: 24%;
  width: 40%;
  top: -40%;
  left: 55%;
  .clear_button2 {
    position: relative;
    height: 32px;
    width: 60px;
    left: 66%;
  }
}

.entities_table{
  position: relative;
  top:-12%;
  height:30%;
  // .table{
    background : rgba(99, 93, 93 , 0.5);
  // }
  .td{
    color : rgba(99, 93, 93 , 0.5)
  }

  .search-box {
    padding: 8px;
  }

  .search-box input {
    width: 188px;
    margin-bottom: 8px;
    display: block;
  }

  .search-box button {
    width: 90px;
  }

  .search-button {
    margin-right: 8px;
  }
}
