$header-width: 6rem;
$label-width: 7rem;
$value-width: 2.5rem;
$cell-padding: 0.3rem;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 11px;
}

.lbl-days {
  width: 100%;
  margin: 10px 10px 0;
}

.lbl-day {
  display: inline-block;
  padding: 0.1rem $cell-padding;
  width: $value-width;
  font-weight: bold;

  &:first-of-type {
    margin-left: $header-width + $label-width + $cell-padding * 4;
  }
}

.cdk-viewport {
  width: 100%;
  flex: 1;
  margin: 0 10px;
}

.lbl-header {
  display: inline-block;
  width: $header-width;
  padding: 0.1rem $cell-padding;
  border-top: 1px solid #ccc;
  font-weight: bold;
}

.lbl-label {
  display: inline-block;
  width: $label-width;
  padding: 0.1rem $cell-padding;
  border-top: 1px solid #ccc;
  margin-left: 0;

  &:first-of-type {
    margin-left: $header-width + $cell-padding * 2;
  }

  .lbl-unit {
    color: #ff4081;
  }
}

.lbl-value {
  display: inline-block;
  width: $value-width;
  padding: 0.1rem $cell-padding;
  border-top: 1px solid #ccc;

  cursor: pointer;
  user-select: none;

  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -ms-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
