<div *ngIf="features; else featuresIsNull" class="container">
  <div class="lbl-days">
    <span *ngFor="let day of _days" class="lbl-day">第{{ day + 1 }}天</span>
  </div>
  <cdk-virtual-scroll-viewport itemSize="20" class="cdk-viewport">
    <div *cdkVirtualFor="let feature of features; let i = index">
      <span *ngIf="feature.header" class="lbl-header">{{
        <!-- 个人信息等第一栏 -->
        feature.header
      }}</span>
      <span class="lbl-label" [matTooltip]="feature.identifier">
        <!-- 年龄等第二栏 -->
        {{ feature.label }}
        <span *ngIf="feature.unit" class="lbl-unit">{{ feature.unit }}</span>
      </span>
      <span
        *ngFor="let day of _days"
        [ngStyle]="weights![day][i]"
        [matTooltip]="x![day][feature.id] | tooltipfy"
        [matTooltipDisabled]="x![day][feature.id] === 0"
        [matTooltipShowDelay]="500"
        (click)="showFeatureValueEditor(feature, day)"
        class="lbl-value"
      >
        <!-- x is guaranteed to be non-null here -->
        {{ formattedX![day][i] }}
      </span>
    </div>
  </cdk-virtual-scroll-viewport>
</div>

<ng-template #featuresIsNull>No features passed!</ng-template>
