.app-title {
  margin-left: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.active:after {
  content: '';
  width: 100%;
  position: absolute;
  top: 35px;
  left: 0;
  border-bottom: 2px solid rgba(white, 0.7);
}
