<div class="container">
  <div class="actions-container">
    <button
      mat-stroked-button
      color="primary"
      (click)="refresh()"
      [disabled]="isLoading$ | async"
    >
      <mat-icon>refresh</mat-icon>
      刷新
    </button>
    <div class="spacer"></div>
    <button
      mat-flat-button
      color="primary"
      (click)="importPatient()"
      [disabled]="isLoading$ | async"
    >
      <mat-icon>add</mat-icon>
      导入患者
    </button>
  </div>
  <div class="table-container elevated">
    <app-patients-table
      [patients]="patients$ | async"
      [isLoading]="isLoading$ | async"
      (patientClick)="onPatientClicked($event)"
    ></app-patients-table>
  </div>
</div>

<!-- 权限提醒框 -->
<nz-modal
  class="level_modal"
  [(nzVisible)]="isVisible_level_modal"
  nzTitle="权限提醒"
  (nzOnCancel)="handleCancel_level_modal()"
>
  <ng-container *nzModalContent>
    <h4>很抱歉，您当前的权限不允许进行此操作！</h4>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="handleOk_level_modal()">确定</button>
  </div>
</nz-modal>
