<mat-card class="dashboard-card">
  <mat-card-content class="dashboard-card-content">
    <div *ngFor="let metric of _metrics" class="container">
      <div class="main">
        <div class="label">
          {{ metric.label }}
          <span class="unit">{{ metric.unit }}</span>
        </div>
        <div class="mean">{{ metric.mean }}</div>
      </div>

      <div class="aggregates">
        <div class="min">{{ metric.min }}</div>
        <div class="max">{{ metric.max }}</div>
        <div class="std">{{ metric.std }}</div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
