.container {
  // position: relative;
  display: flex;
  height: 80%;
  flex-direction: row;
}

// .feature-table {
//   // position: relative;
//   top:30%;
// }

// .threshold_many_table{
//   display: flex;
//   width: 30%;
// }
