<div class="container">
  <div class="feature-table">
    <app-feature-table
      [features]="features$ | async"
      [x]="x$ | async"
      [formattedX]="formattedX$ | async"
      [weights]="weights$ | async"
      weightsBaseColor="#9C27B0"
      (change)="onChange($event)"
    ></app-feature-table>
  </div>
  <div class="results">
    <app-data-operations
      [isLoading]="isLoading$ | async"
      [disableInfer]="disableInfer$ | async"
      (loadSample)="onLoadSample()"
      (loadSpecifiedSample)="onLoadSpecifiedSample($event)"
      (thresholdWarning)="onThresholdWarning()"
      (reset)="onReset()"
      (predict)="onPredict()"
      (objectid)="(objectid)"
    ></app-data-operations>
    <app-model-results
      [showResults]="showPredictions$ | async"
      [probabilities]="slicedPredictions$ | async"
      label="患者当日出现急性肾损伤的概率如下"
    ></app-model-results>
  </div>
  <nz-drawer
    [nzClosable]="false"
    [nzVisible]="visible"
    nzPlacement="right"
    nzTitle="阈值预警"
    (nzOnClose)="close()"
    [nzWidth] = "512"
  >
    <ng-container *nzDrawerContent>
      <ul>
        <li *ngFor="let item of result_string">
          {{ item }}
        </li>
      </ul>
    </ng-container>
  </nz-drawer>
</div>
