<div>
  <div class="logo">
    <img src="./assets/project-logo.png" />
  </div>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email"
        >E-mail</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="邮箱不能为空!">
        <input nz-input formControlName="email" id="email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired nzTooltipTitle="What do you want other to call you"> -->
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired>
        <span>用户名</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="用户名不能为空!">
        <input nz-input id="username" formControlName="username" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired
        >密码</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="密码不能为空!">
        <input
          nz-input
          type="password"
          id="password"
          formControlName="password"
          (ngModelChange)="updateConfirmValidator()"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired
        >确认密码</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
        <input
          nz-input
          type="password"
          formControlName="checkPassword"
          id="checkPassword"
        />
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            请再次输入你的密码!
          </ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            两次输入的密码不一致!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired
        >电话号码</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        [nzValidateStatus]="validateForm.controls['phoneNumber']"
        nzErrorTip="电话号码不能为空!"
      >
        <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button
          nz-button
          nzType="primary"
          class="register_button"
          (click)="onRegister()"
        >
          注册
        </button>
        <button class="backe_button" routerLink="/login">返回</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <nz-modal
    [(nzVisible)]="isVisible_failed"
    nzTitle="注册失败"
    nzCentered
    (nzOnCancel)="handleCancel_failed()"
    (nzOnOk)="handleOk_failed()"
  >
    <ng-container *nzModalContent>
      <p>该用户名已存在，请更换用户名</p>
    </ng-container>
  </nz-modal>
  <nz-modal
    [(nzVisible)]="isVisible_successed"
    nzTitle="注册成功"
    nzCentered
    (nzOnCancel)="handleCancel_successed()"
    (nzOnOk)="handleOk_successed()"
  >
    <ng-container *nzModalContent>
      <p>注册成功！</p>
      <p>Content two</p>
      <p>Content three</p>
    </ng-container>
  </nz-modal>
</div>
