[nz-form] {
  max-width: 600px;
  position: relative;
  top: 10%;
  left: 23%;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}

.backe_button {
  position: relative;
  height: 32px;
  width: 60px;
  left: 55%;
}


.logo {
  max-width: 300px;
  position: relative;
  top: 5%;
  left: 20%;
  // position: absolute;
  // left: 50%;
  // display: inline-block;
  // width: 250px;
  // line-height: 200px;
  // height: 40px;
  // vertical-align: middle;
}
