<div *ngIf="!userinfo.login">
  <div class="logo">
    <img src="./assets/project-logo.png"/>
  </div>
  <form
    nz-form
    [formGroup]="validateForm"
    class="login-form"
    (ngSubmit)="submitForm()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="用户名为不能空!">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            formControlName="userName"
            placeholder="用户名或邮箱"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="密码不能为空!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="password"
            placeholder="密码"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!-- <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="remember">
          <span>记住我</span>
        </label>
      </div>
    </div> -->
    <div class="usernotexist_message" *ngIf = "show_usernotexist_message">该用户不存在！请检查您的用户名</div>
    <div class="passworderror_message" *ngIf="show_passworderror_message">密码错误！请检查您的密码</div>
    <h2></h2>
    <button
      nz-button
      class="login-form-button login-form-margin"
      [nzType]="'primary'"
    >
      登录
    </button>
    <div nz-col [nzSpan]="20" class="forgotAndRegister">
      <!-- <a class="forgot">忘记密码？</a> -->
      <a class="register" routerLink = "/register" click="onRegister()"> 注册账户</a>
    </div>
  </form>
</div>





