.login-form {
  max-width: 300px;
  position: relative;
  top: 20%;
  left: 35%;
  // margin-left: -($width / 2);
  // margin-top: -($height / 2);
  // width: $width;
  // height: $height;
}

.login-form-margin {
  margin-bottom: 16px;
}

// .login-form-forgot {
//   float: right;
// }

.login-form-button {
  width: 100%;
}

.forgotAndRegister{
  width: 200%;
  .forgot{
    position: absolute;
    left: 0%;
  }
  .register {
    position: relative;
    left: 85%;
    // float: right;
  }
}



.logo {
  max-width: 300px;
  position: relative;
  top: 10%;
  left: 20%;
  // position: absolute;
  // left: 50%;
  // display: inline-block;
  // width: 250px;
  // line-height: 200px;
  // height: 40px;
  // vertical-align: middle;
}
