<div class="container">
  <div class="feature-table">
    <app-feature-table
      [features]="features$ | async"
      [x]="x$ | async"
      [formattedX]="formattedX$ | async"
      [weights]="weights$ | async"
      weightsBaseColor="#F44336"
      (change)="onChange($event)"
    ></app-feature-table>
  </div>
  <div class="results">
    <app-data-operations
      [isLoading]="isLoading$ | async"
      [disableInfer]="disableInfer$ | async"
      (loadSample)="onLoadSample()"
      (reset)="onReset()"
      (predict)="onPredict()"
    ></app-data-operations>
    <app-model-results
      [showResults]="showPredictions$ | async"
      [probabilities]="slicedPredictions$ | async"
      label="患者当日出现心肌梗塞的概率"
    ></app-model-results>
  </div>
</div>

<!-- 权限提醒框 -->
<nz-modal
  class="level_modal"
  [(nzVisible)]="isVisible_level_modal"
  nzTitle="权限提醒"
  (nzOnCancel)="handleCancel_level_modal()"
>
  <ng-container *nzModalContent>
    <h4>很抱歉，您当前的权限不允许进行此操作！</h4>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="handleOk_level_modal()">确定</button>
  </div>
</nz-modal>
