<div class="container">
  <button
    mat-stroked-button
    color="primary"
    (click)="onLoadSample()"
    [disabled]="isLoading"
  >
    随机加载示例
  </button>
  <button
    mat-stroked-button
    color="primary"
    (click)="showSpecifiedLoadModal()"
    [disabled]="isLoading"
  >
    加载指定示例
  </button>
  <button
    mat-stroked-button
    color="primary"
    (click)="onReset()"
    [disabled]="isLoading"
  >
    重置
  </button>

  <button
    mat-flat-button
    color="primary"
    (click)="onPredict()"
    [disabled]="isLoading || disableInfer"
  >
    预测
  </button>

  <button
    mat-flat-button
    color="primary"
    (click)="onThresholdWarning()"
    [disabled]="isLoading || disableInfer"
  >
    阈值筛查设置
  </button>
  <!-- TODO: -->
  <button mat-flat-button color="primary" (click)="onCallSimilarity()">
    推荐相似病例
  </button>

    <!-- TODO: -->
  <button mat-flat-button color="primary" (click)="onBackCurrent()">
    返回原病历
  </button>

  <button
    mat-flat-button
    color="primary"
    (click)="onAddFavorite()"
    [disabled]="isLoading || disableInfer"
  >
    收藏
  </button>



  <div *ngIf="isLoading" class="spinner">
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>
</div>


<!-- 指定加载对话框 -->
<nz-modal [(nzVisible)]="isVisible_SpecifiedLoad" nzTitle="加载指定病历" (nzOnCancel)="handleCancelSpecifiedLoad()" (nzOnOk)="handleOkSpecifiedLoad()">
  <ng-container *nzModalContent>
    <span>请输入病历编号：</span>
    <input #newItem type="text" [(ngModel)]="objectid" class="objectidEnter" />
  </ng-container>
</nz-modal>
