.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  &:not(:first-of-type) {
    margin-left: 8px;
  }

  &:last-of-type {
    margin-left: 30px;
  }
}

.spinner {
  display: inline-block;
  margin-left: 10px;
}
