$header-width: 6rem;
$label-width: 6rem;
$value-width: 2.5rem;
$cell-padding: 0.3rem;
$table-width: $header-width + $label-width + ($value-width * 14) +
  ($cell-padding * 32);

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 11px;
}

.lbl-days {
  width: $table-width;
  margin: 10px 10px 0;
}

.lbl-day {
  display: inline-block;
  padding: $cell-padding;
  width: $value-width;

  &:first-of-type {
    margin-left: $header-width + $label-width + $cell-padding * 4;
  }
}

.cdk-viewport {
  width: $table-width;
  flex: 1;
  margin: 0 10px;
}

.lbl-header {
  display: inline-block;
  width: $header-width;
  padding: $cell-padding;
  border-top: 1px solid #ccc;
  font-weight: bold;
}

.lbl-label {
  display: inline-block;
  width: $label-width;
  padding: $cell-padding;
  border-top: 1px solid #ccc;
  margin-left: 0;

  &:first-of-type {
    margin-left: $header-width + $cell-padding * 2;
  }
}

.lbl-value {
  display: inline-block;
  width: $value-width;
  padding: $cell-padding;
  border-top: 1px solid #ccc;
}
